
h2{
    text-align: center;
    color: black;
    font-size: xx-large;
}
p{
    font-size: x-large;
    font-style: italic;
    text-align: center;
    color:orangered;

}
li{
   text-align: center;
   color: purple;
   list-style-type: none; 
   font-size: x-large;

}
.headernav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: aquamarine;
    font-size: x-large;
}
img{
    height: 400px;
    width: 200px;
    padding: auto;
}
.gc{
    display: grid;
    padding: 100px;
    gap:100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
  }
  .fc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size:x-large;
    background-color: aquamarine;
  }
  hr{
    height: 10px;
   background-color: black;
  }
  figure {
    width: 200px;
    height: 400px;
 }
 .thumbnail {
    position: relative;
    width: 200px;
    height: 400px;
    margin-bottom: 10px;
    overflow: hidden
 }
 
 .thumbnail > img {
     max-width: 100%;
     height: 100%;
     transition: all 0.3s ease;
 }
 
 .thumbnail div {
    position: absolute;
    background: rgba(1,1,1,0.8);
    color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease;
    line-height: 300px;
    text-align: center;
    font-size: 30px;
    z-index: 2
    
 }
 
 .thumbnail:hover > img {
    transform: scale(1.3)
 }
 
 .thumbnail:hover > div {
    opacity: 1
 }
 figcaption{
    font-family:cursive ;
    font-size:medium;
    color:brown;
    text-align:auto;
}
.end{
    font-family: fantasy;
    font-size: medium;
    background-color: aquamarine;
    text-align: center;
}

select{
    text-align: justify;
}
@media(min-width:1130px)and (max-width:1199px){
    .gc{
        display: grid;
        padding: 100px;
        gap:100px;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;

    }
    /* .fc{ */
        /* display: flex; */
        /* flex-direction: row; */
        /* justify-content: space-evenly; */
        /* font-size:x-large; */
        /* background-color: aquamarine; */
        /* flex-wrap: wrap; */

    /* } */
}
@media(min-width:1199px){
    .gc{
        display: grid;
        padding: 100px;
        gap:100px;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;

    }
    /* .fc{ */
        /* display: flex; */
        /* flex-direction: row; */
        /* justify-content: space-evenly; */
        /* font-size:large; */
        /* background-color: aquamarine; */
        /* flex-wrap: wrap; */

    /* } */

    /* .headernav{ */
        /* display: flex; */
        /* flex-direction: row; */
        /* justify-content: space-evenly; */
        /* background-color: aquamarine; */
        /* font-size: large; */
        /* flex-wrap: wrap; */
    /* } */
}
@media(min-width:1030px)and (max-width:1130px){
    .gc{
        display: grid;
        padding: 100px;
        gap:100px;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;

    }
    img {
        width: 150px;
        height: 250px;
        padding: auto;
     }
}
@media(max-width:420px){
    .gc{
        display: grid;
        padding: 100px;
        gap:100px;
        grid-template-columns: 1fr;
        align-content: center;

    }
}
@media(min-width:421px)and (max-width:800px){
    .gc{
        display: grid;
        padding: 100px;
        gap:100px;
        grid-template-columns: 1fr 1fr;
        align-content: center;

    }
}
 

 
